<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
			<servlet-name>use</servlet-name>
			<servlet-class>app.index.controller.index</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>use</servlet-name>
			<servlet-pattern>/app/test</servlet-pattern>
	</servlet-mapping>
</web-app>